[include gcode_macro.cfg]

[include menu.cfg]

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: PA4


[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 230
homing_speed: 200 ;50

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -12
position_min: -12
position_max: 230
homing_speed: 200 ;50

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
position_endstop: 0.0                     # disable to use BLTouch
endstop_pin: ^PA7                         # disable to use BLTouch
# endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
# position_min: -5                        # enable to use BLTouch
position_max: 250

# [safe_z_home]                         # enable for BLTouch
# home_xy_position: 157.5,120.5
# speed: 150
# z_hop: 10
# z_hop_speed: 5


;[screws_tilt_adjust]
;screw1: 72.5, 41.5
;screw1_name: front left screw
;screw2: 198.5,41.5
;screw2_name: front right screw
;screw3: 198.5,212.5
;screw3_name: rear right screw
;screw4: 72.5,212.5
;screw4_name: rear left screw
;horizontal_move_z: 10
;speed: 50
;screw_thread: CW-M4


[extruder]
max_extrude_only_distance: 500.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_kp = 27.580
pid_ki = 1.495
pid_kd = 127.211
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_kp = 71.470
pid_ki = 1.498
pid_kd = 852.285
min_temp: 0
max_temp: 130

[fan]
pin: PA0


[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 3000
# max_accel_to_decel: 10
max_z_velocity: 5
max_z_accel: 200 ;100

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[pwm_cycle_time BEEPER_pin]
pin: PC6
#   Beeper pin. This parameter must be provided.
#   ar37 is the default RAMPS/MKS pin.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

[gcode_macro BEEP]
description: SONIDO
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6
# PC6 BUZZER

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.580
#*# pid_ki = 1.495
#*# pid_kd = 127.211
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.470
#*# pid_ki = 1.498
#*# pid_kd = 852.285

